NeutrinoOS/out/
.vs/
NeutrinoOS/.vs/
Neutrino/buildroot/
*.cmake
CMakeFiles
NeutrinoOS/CMakeFiles
CMakeCache.txt
Makefile
NeutrinoOS/Makefile
build
linux/buildroot-*
linux/wpa_supplicant
linux/.vscode
linux/linfinity.linux.img
